@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* or any specific height you want */
    width: 100%; /* adjust as needed */
  }
  .paragraph-light {
    color: black; /* Color for light mode */
  }
  
  .paragraph-dark {
    color: white; /* Color for dark mode */
  }
  