.label{
    display: block;
    font-weight: bold;
    margin-top: 10%;
}

.heading{
    font-family: 'Roboto';
    font-size: 25px;
}

.input{
    display: block;
    margin-top: 1%;
    width: 99%;
    height: 23px;
    border: black 1px solid;
    border-radius: 2px;
    
}

.signupButton{
    margin-top: 10%;
    width: 100%;
    height: 32px;
    color: white;
    background-color: #3E8DE3;
    border: none;
    border-radius: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 450px;
    border: 1px solid #ccc;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 5%;
    margin-top: 5%
}

.formDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.formDiv .authUI{
    height: 50%;
    width: 50%;
}

