.popup{
    height: 180px;
    width: 280px;
}

.paragraph{
    font-size: 15px;
    margin-top: 8%
}


#name{
    font-size: 20px;
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

#buttons{
    display: inline-block;
    padding-right: -100px;
    
}

#favoriteButton{
    display: inline-block;
    padding-left: 30px;
    
}

#favoriteButton:hover{
    color: red;
}

#reviewButton{
    display: inline-block;
    padding-left: 30px;
}

#reviewButton:hover{
    color: orange;
}