.popup{
    height: 180px;
    width: 280px;
}

.paragraph{
    font-size: 15px;
    margin-top: 8%
}


#name{
    font-size: 20px;
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

#buttons{
    display: inline-block;
    padding-right: -100px;
    
}

#notFavoriteButton{
    display: inline-block;
    padding-left: 30px;
    cursor: pointer;
    
}

#favoriteButton{
    display: inline-block;
    padding-left: 30px;
    color: red;
    cursor: pointer;
    
}

#reviewButton{
    display: inline-block;
    padding-left: 30px;
}

#reviewButton:hover{
    color: orange;
}

#hoverLocation:hover{
    color:blue;
}

#submitButton {
    display: inline-block;
    font-size: 17px;
    padding: 10px 20px; 
    border-radius: 20px; 
    background-color:#73dcff; 
    text-align: center; 
    cursor: pointer; 
    border: none; 
    outline: none; 
}

#submitButton:hover{
    color:orange;
}

.directionsButtonContainer {
    margin-left: 100px; 
}